<html>
  <head>
    <title>Personal Site</title>
  </head>
  <body>
    <h1>About Me!</h1>
    <p>Jude is a software engineer interested in how technology can be used to benefit society.</p>
    <p>I like to look at the world around me and imagine how it can be improved with some new, fantastic inventions.</p>
    <p>Test Driven Development is my primary design process, and a core principle of how I tackle coding challenges. Without understanding my desired end results while building, I feel I would by quite lost.</p>
    <p>I am currently investigating how I can apply my skills as a software engineer in agricultural and civil engineering. Everything from farm tech to public transportation.</p>
    <p>It looks like an interesting road ahead.</p>
    <link rel="stylesheet" href="main.css" title="CSS" type="text/css" />
  </body>
</html>
