<html>
  <head>
    <title>Personal Site</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>I'm glad that you've found this place. (It is currently a work in progress...)</p>
    <p>This website is contains information about Jude Dutton; that's me. You can find some work of mine as well as some of my novice technical blogging as well.</p>
    <p>Please feel free to explore and reach out if you have questions!</p>
    <a href="/about">About Me</a>
    <link rel="stylesheet" href="main.css" title="CSS" type="text/css" />
  </body>
</html>
